*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  line-height: 1.5;
  scroll-behavior: smooth;
  font-size: 100%;
}
body {
  font-family: sans-serif;
  padding: 20px;
  /* max-width: 800px;
  margin: auto; */
  background-color: rgb(194, 194, 194);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
main {
  padding-block: 10px;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  padding: 5px 10px;
  cursor: pointer;
}
h1 {
  text-align: center;
}
h3 {
  padding-block: 5px;
  opacity: 0.8;
  text-transform: capitalize;
}
p {
  font-size: 22px;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: -60px;
  margin-bottom: -60px;
}
.img {
  display: grid;
  place-items: center;
}
